/************** Layout **************/

h1{
    color: brown;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
}

nav{
    color: rgb(34, 27, 27);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    list-style-position: inside;
}

h2{
    color: rgb(81, 33, 192);
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    
}

#yazi{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
}

#yazi1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: center;
    color: rgb(104, 143, 13);
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: rgb(104, 143, 13); 
}

.tablo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    list-style-position: inside;
}